@import url('https://fonts.googleapis.com/css2?family=Lexend+Exa:wght@100..900&display=swap');

:root {
  --primary-color: #007E85; 
  --background-color: #E0F7FA; 
  --accent-color: #6EAB36; 
}
html {
  scroll-behavior: smooth;
}